<%= form_for(@user, :html => {:onsubmit => "return validar()"}) do |f| %>
  <% if @user.errors.any? %>
  <div id="errorExplanation" class="alert alert-error">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <%else%>
  	<div id="msg"></div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email,:class => "item_validatefw item_validatefw_mail" %>
  </div>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre,:class => "item_validatefw" %>
  </div>
  <div class="field">
    <%= f.label :apellidos %>
    <%= f.text_field :apellidos,:class => "item_validatefw" %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password,:class => "item_validatefw_pass_one" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation,:class => "item_validatefw_pass_two" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
	function validar() {
		var validate = new Validatefw($("#msg"));
    	validate.setClassNameError("alert alert-error");
    	
    	return validate.validatefwAll($(".item_validatefw")) &&
    	validate.validatefwMail($(".item_validatefw_mail")) &&
    	validate.validatefwPassword($(".item_validatefw_pass_one"),$(".item_validatefw_pass_two"));
	}
</script>