<h3>Listado de Usuarios</h3>
<br />
<%if @users.size > 0%>
	<table class="table table-bordered">
	  <tr>
	    <th>Email</th>
	    <th>Nombre</th>
	    <th>Apellidos</th>
	    <th>Activo</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	<% @users.each do |user| %>
	  <tr>
	  	<td><%= user.email %></td>
	  	<td><%= user.nombre %></td>
	  	<td><%= user.apellidos %></td>
	    <td>
	    	<%if user.activo == true %>
				<span class="label label-success">SI</span>
			<%else%>
				<span class="label label-important">NO</span>
			<%end%>
	    </td>
	    <td><%= link_to "Ver", {:action => "show", :id => user.id},html_options = {:class => "btn btn-info",:style=>"color: white"} %></td>
	    <td><%= link_to 'Editar', edit_admin_user_path(user), html_options = {:class => "btn btn-warning",:style=>"color: white"}  %></td>
	    <td><%= link_to 'Eliminar', {:action => "destroy",:id =>user.id},html_options = {:class => "btn btn-danger",:style=>"color: white"}, {confirm: '¿Estás seguro?', method: :delete}  %></td>
	  </tr>
	<% end %>
	</table>
<%else%>
	<div class="alert alert-info">No se encuentran roles registrados</div>
<%end%>

<br />

<!--<%= link_to 'Nuevo Usuario', {:action => "new"} %>-->
